In [1]:
import pandas as pd
import os

#### 데이터 프레임을 읽어 옵니다:

In [2]:
os.chdir(r"C:\Users\Gram\Desktop\아시아경제 수업자료\01 Python 분석 기초 - 실습\data")

In [3]:
df = pd.read_csv('data_studentlist_en.csv', header='infer',encoding = 'latin1')

In [4]:
df

                name gender  age  grade absence bloodtype  height  weight
0      Jared Diamond      M   23      3       Y         O   165.3    68.2
1     Sarah O'Donnel      F   22      2       N        AB   170.1    53.0
2       Brian Martin      M   24      4       N         B   175.0    80.1
3       David Hassel      M   23      3       N        AB   182.1    85.7
4    Clara Rodriquez      F   20      1       Y         A   168.0    49.5
5   Jennifer Lorentz      F   21      2       N         O   162.0    52.0
6        Susan Clark      F   22      1       N         O   155.2    45.3
7    Margareth Jones      F   23      1       N         A   176.9    55.0
8       John Bertsch      M   23      3       N         B   178.5    64.2
9     Jake Timmerman      M   22      2       N         B   176.1    61.3
10     Joshua Connor      M   24      4       Y         O   167.1    62.0
11      John Matsuda      M   22      2       N        AB   180.0    75.8
12      Eddy Johnson      M   21      1       N         A   162.2    55.3
13  Rebecah Anderson      F   23      3       N         O   176.1    53.1
14      Linda Carter      F   22      2       N         B   158.2    45.2
15    Richard Swayze      M   24      4       Y         B   168.6    70.2
16      Andrew Daley      M   21      1       N         A   169.2    62.2

#### 다음 통계치를 계산하시오:

1). 남학생 만의 신장 평균:

In [5]:
df[df.gender == 'M'].height.mean()

172.41

2). 여학생 만의 신장 평균:

In [6]:
df[df.gender == 'F'].height.mean()

166.64285714285714

3). 남학생 만의 체중 평균:

In [7]:
df[df.gender == 'M'].weight.mean()

68.50000000000001

4). 여학생 만의 체중 평균:

In [8]:
df[df.gender == 'F'].weight.mean()

50.44285714285714

5). 남학생중 제일 가장 큰 키 (max() 메서드 사용):

In [9]:
df[df.gender == 'M'].height.max()

182.1

6). 여학생중 제일 가장 작은 키 (min() 메서드 사용):

In [10]:
df[df.gender == 'F'].height.min()

155.2

7). 신장이 175cm 이상인 남학생중 최저 체중을 찾아라:

In [11]:
df[(df.height>=175)&(df.gender == 'M')].weight.min()

61.3

8). 신장이 160cm 이하인 여학생중 최고 체중을 찾아라:

In [12]:
df[(df.height<=160)&(df.gender=='F')].weight.max()

45.3

9). 결석 (absence)가 없는 (N) 학생만의 성적 (grade) 평균은?

In [13]:
df[(df.absence=='N')].grade.mean()

2.076923076923077

10). 결석 (absence)가 있는 (Y) 학생만의 성적 (grade) 평균은?

In [14]:
df[(df.absence=='Y')].grade.mean()

3.0

11). 혈액형이 A형 이거나 AB형인 학생들의 신장 평균은?

In [15]:
df[(df.bloodtype=='A')|(df.bloodtype=='AB')].height.mean()

172.64285714285714

12). 혈액형이 A형 이거나 AB형인 남학생들의 신장 평균은?

In [16]:
df[((df.bloodtype == 'A') | (df.bloodtype == 'AB')) & (df.gender == 'M')].height.mean()      # ((a형) or (ab형)) and (남학생)

173.375

13. 결석 (absence)가 있으며 (Y) 성적 (grade)이 3이상인 학생들의 평균 연령은?

In [17]:
df[(df.absence =='Y') & (df.grade >= 3)].age.mean()

23.666666666666668